body{
    margin: 0;
}
.flex-container{
    display: flex;
    padding: 2%;
    
    align-items: center;
    justify-content: center;
}
.flex-container-footer{
    display: flex;
    justify-content: space-between;
    
    padding: 0px 10px;
}
.half-width{
    width: 50%;
    margin: 5%;
    

}

.orange{
    color: orange;
}
.gray{
    color: gray;
}
.white{
    color: white;
}

h1{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 40px;
}
h2{
    font-size: 35px;
}
.section-2{
    background-image: url(images/Frame57.jpg);
    background-repeat: no-repeat;
    width: 96%;
    background-size: 100%;
    
}
.section-3{
    text-align: center;
    padding: 5% 0;
}
.sec-3-item{
    width: 28%;
    margin: 2%;
    padding: 20px;
    box-shadow: 2px 2px 20px 2px gray;
    border-radius: 10px;


}
.sec-3-item img{
    max-width: 100%;
    height: 250px;
    border-radius: 20px;
}
.button-link{
    text-decoration: none;
    color: white;
    font-weight: 900;
    background-image: linear-gradient(#251ACB, #7A74E0) ;
    padding: 10px 40px;
    border-radius: 10px;
}
footer{
    text-align: center;
    background-color: black;
    padding: 5px;
}